#gameBoard{
    width: 60%;
    margin: 10px auto;
    background-color: lightcoral;
    font-size: 0;
}

.boardSquare{
    display: inline-block;
    width: 33.33%;
    box-sizing: border-box;
    border: 1px solid black;
    height: 70px;
    margin: 0;
    color: darkred;
    font-size: 70px;
    text-align: center;
    vertical-align: middle;
}

h1{
    text-align: center;
    color: darkred;
}